.close {
  color: black;
  padding: 2px;
  width: 22px;
}
.close span {
  color: black;
  font-size: 20px;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.771);
}

.modal_content {
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  max-width: 700px;
}

.modal_body p {
  text-align: justify;
  color: black;
  margin-bottom: 10px;
}
.modal_body h2 {
  margin-bottom: 20px;
  text-align: center;
  color: black;
}
